yt-dlp
openai-whisper # git+https://github.com/openai/whisper.git
# PyTorch con soporte CUDA 12.8 para Python 3.13
--find-links https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
python-dotenv
pydantic
pydantic-settings
numpy
soundfile
