yt-dlp
openai-whisper
torch
fastapi
uvicorn[standard] # [standard] incluye dependencia para websockets y otros, útil
python-dotenv # Para la gestión de configuración por entorno
pydantic # Para validación de configuraciones y modelos de datos
